<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>APP</title>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="/<%= asset%>"></script>
</body>
</html>
